[submodule "devops"]
	path = devops
	url = git@github.com:MoussaabBadla/devops-bootcamp.git
[submodule "events/build-it/3-Pioneers"]
	path = events/build-it/3-Pioneers
	url = https://github.com/Ziouche-maroua/pioneer-pulse/
[submodule "events/build-it/404Finders"]
	path = events/build-it/404Finders
	url = https://github.com/SeM2x/fine-tuning
[submodule "events/build-it/Apex"]
	path = events/build-it/Apex
	url = https://github.com/ilyes-rhdi/mini-Notion-gql
[submodule "events/build-it/ArchiTects"]
	path = events/build-it/ArchiTects
	url = https://github.com/moncefy/BUILD-IT-API-FETCHING
[submodule "events/build-it/BobsTheBuilders"]
	path = events/build-it/BobsTheBuilders
	url = https://github.com/HaniOdh/BuildIT
[submodule "events/build-it/BrainWaves"]
	path = events/build-it/BrainWaves
	url = https://github.com/adelmerad/Pagination
[submodule "events/build-it/BugBusters"]
	path = events/build-it/BugBusters
	url = https://github.com/oussamatght/ChoufPrice-DZ-Platform-backend
[submodule "events/build-it/Build_X"]
	path = events/build-it/Build_X
	url = https://github.com/NesRina03/cauldron
[submodule "events/build-it/Builders"]
	path = events/build-it/Builders
	url = https://github.com/malak-bou/Web_RTC_Project.git
[submodule "events/build-it/DataDome"]
	path = events/build-it/DataDome
	url = https://github.com/glorynino/SmartMeetOS
[submodule "events/build-it/ForgeIT"]
	path = events/build-it/ForgeIT
	url = https://github.com/Lyna-li/Hotel-Management-System.git
[submodule "events/build-it/STARKS"]
	path = events/build-it/STARKS
	url = https://github.com/SamyBakiri/Email-Sender-Backgroung-jobs-Queues-Batch-proccessing
[submodule "events/build-it/asten"]
	path = events/build-it/asten
	url = https://github.com/HADIL19/student-opportunities.git
[submodule "events/build-it/gitIgnore"]
	path = events/build-it/gitIgnore
	url = https://github.com/WRH-05/BUILDIT-REVERSE-RPOXY
[submodule "events/build-it/1-so99or"]
	path = events/build-it/1-so99or
	url = https://github.com/wailman24/Caching
[submodule "events/build-it/2-OptiGami"]
	path = events/build-it/2-OptiGami
	url = https://github.com/Vixen-77/RAG-implementation/
[submodule "events/it-blackout/WebSockets"]
	path = events/it-blackout/WebSockets
	url = https://github.com/maya-ots/WebSockets
[submodule "events/it-blackout/Neural-Network"]
	path = events/it-blackout/Neural-Network
	url = https://github.com/meriemosayoud-prog/Neural-Network-Workshop
[submodule "events/it-blackout/Computer-Vision"]
	path = events/it-blackout/Computer-Vision
	url = https://github.com/khadidja90/Blackout-3
[submodule "events/it-blackout/State-Management"]
	path = events/it-blackout/State-Management
	url = https://github.com/malek-bz09/state-management
[submodule "events/it-blackout/gRPC"]
	path = events/it-blackout/gRPC
	url = https://github.com/obyacine/gRPC-workshop
[submodule "mobile/The-Dart-Language-1st-session"]
	path = mobile/The-Dart-Language-1st-session
	url = https://github.com/01amine/Dart-Workshop.git
[submodule "mobile/Flutter-Foundations-UI-Logic"]
	path = mobile/Flutter-Foundations-UI-Logic
	url = https://github.com/01amine/flutter-workshop.git
